<%= simple_form_for @category, as: :category, url: @category.new_record? ? admin_categories_path : admin_category_path(@category), wrapper: :admin_form, html: { class: 'layui-form' } do |f| %>
  <%= f.error_notification %>
  <%= hidden_field_tag :type, params[:type] %>
  <div class="form-body">
    <%= f.input :name, label: '名称：', autofocus: true, placeholder: '', hint: '' %>
    <%= f.input :parent_id, label: '父级分类', collection: Category.parent_options_for_select, autofocus: true, placeholder: '', hint: '' %>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <%= f.button :submit, '提交', class: 'layui-btn' %>
      <%= link_to '取消', admin_categories_path(type: params[:type]), class: 'layui-btn layui-btn-primary' %>
    </div>
  </div>
<% end %>