<div class="layui-container">
  <div class="layui-row portlet-title">
    <fieldset class="layui-elem-field">
      <legend>广告类型</legend>
      <div class="layui-field-box">
        <div class="layui-row">
          <div class="layui-col-md11">
            <%= search_form_for @search, url: admin_categories_path, class: 'form-inline layui-form' do |f| %>
              <div class="layui-form-item layui-inline">
                <%= hidden_field_tag :type, params[:type]%>
                <%= f.label :name_cont, '标题名', class: "layui-form-label layui-inline" %>
                <%= f.text_field :name_cont, class: 'layui-input-inline layui-input', placeholder: '标题名' %>
              </div>
              <button type="submit" class="layui-form-item layui-btn layui-btn-primary layui-inline">搜索</button>
            <% end %>
          </div>
          <div class="layui-col-md1">
            <%= link_to new_admin_category_path(type: params[:type]), class: 'layui-btn layui-btn-normal layui-btn-sm', 'data-no-turbolink' => true do %>
              <i class="layui-icon layui-icon-edit" style="font-size: 12px"></i>
              <span>创建</span>
            <% end %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="table-scrollable">
        <table class="layui-table" id="sample_2">
          <thead>
            <tr>
              <th>
                分类
              </th>
              <th>
                名称
              </th>
              <th>
                父级名称
              </th>
              <th>
                时间
              </th>
              <th>
                排序
              </th>
              <th>
                操作
              </th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td>
                  <%= category.class.human_name %>
                </td>
                <td>
                  <%= category.name %>
                </td>
                <td>
                  <%= category.parent.try(:name) || '无' %>
                </td>
                <td>
                  <%= l category.created_at.to_date %>
                </td>
                <td>
                  <%= link_to '顶部', move_admin_category_path(category, to: :to_top), data: { turbo: true, turbo_method: :post }, class: 'layui-btn-sm text-underline' %>
                  <%= link_to '上', move_admin_category_path(category, to: :higher), data: { turbo: true, turbo_method: :post }, class: 'layui-btn-sm text-underline' %>
                  <%= link_to '下', move_admin_category_path(category, to: :lower), data: { turbo: true, turbo_method: :post }, class: 'layui-btn-sm text-underline' %>
                  <%= link_to '底部', move_admin_category_path(category, to: :to_bottom), data: { turbo: true, turbo_method: :post }, class: 'layui-btn-sm text-underline' %>
                </td>
                <td>
                  <%= link_to edit_admin_category_path(category, type: params[:type]), 'data-no-turbolink' => true, class: 'layui-btn layui-btn-xs layui-float-left' do %>
                    <i class="fa fa-link"></i> 修改
                  <% end %>
                  <%= link_to admin_category_path(category, type: params[:type]), class: 'layui-btn layui-btn-xs layui-btn-danger layui-float-left layout-margin-left-4', data: { turbo: true, turbo_method: :delete, turbo_confirm: '确定要删除吗？' } do %>
                    <i class="fa fa-trash-o"></i> 删除
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@categories) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @categories %>
        </div>
      </div>
    </div>
  </div>
</div>