<div class="layui-container">
  <div class="layui-row portlet-title">
    <fieldset class="layui-elem-field">
      <legend>广告管理</legend>
      <div class="layui-field-box">
        <div class="layui-row">
          <div class="layui-col-md11">
            <%= search_form_for @search, url: admin_adverts_path, class: 'form-inline layui-form' do |f| %>
              <div class="layui-form-item layui-inline">
                <%= hidden_field_tag :type, params[:type]%>
                <%= f.label :name_cont, '标题名', class: "layui-form-label layui-inline" %>
                <%= f.text_field :name_cont, class: 'layui-input-inline layui-input', placeholder: '标题名' %>
              </div>
              <button type="submit" class="layui-form-item layui-btn layui-btn-primary layui-inline">搜索</button>
            <% end %>
          </div>
          <div class="layui-col-md1">
            <%= link_to new_admin_advert_path(type: params[:type]), class: 'layui-btn layui-btn-normal layui-btn-sm', 'data-no-turbolink' => true do %>
              <i class="layui-icon layui-icon-edit" style="font-size: 12px"></i>
              <span>创建</span>
            <% end %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="table-scrollable">
        <table class="layui-table" id="sample_2">
          <thead>
            <tr>
              <th>
                广告分类
              </th>
              <th>
                名称
              </th>
              <th>
                展示方式
              </th>
              <th>
                状态
              </th>
              <th>
                创建时间
              </th>
              <th>
                排序
              </th>
              <th>
                操作
              </th>
            </tr>
          </thead>
          <tbody>
            <% @adverts.each do |advert| %>
              <tr>
                <td>
                  <%= advert.category.try(:name) %>
                </td>
                <td>
                  <%= advert.name %>
                </td>
                <td>
                  <%= advert.enum_name(:show_type) %>
                </td>
                <td>
                  <%= link_to switch_admin_advert_path(advert), data: { turbo: true, turbo_method: :patch, turbo_confirm: "确定#{ advert.visible? ? '隐藏' : '显示'}吗？" }, class: "#{advert.visible? ? 'bg-green' : 'bg-orange'} layui-btn layui-btn-xs" do %>
                    <%= advert.visible? ? '显示' : '隐藏' %>
                    <i class="layui-icon layui-icon-eye <%= advert.visible? ? 'layui-icon-eye' : 'layui-icon-eye-invisible' %>"></i>
                  <% end %>
                </td>
                <td>
                  <%= l advert.created_at.to_datetime %>
                </td>
                <td>
                  <%= link_to '顶部', move_admin_advert_path(advert, to: :to_top), data: { turbo: true, turbo_method: :post }, class: 'layui-btn-sm text-underline' %>
                  <%= link_to '上', move_admin_advert_path(advert, to: :higher), data: { turbo: true, turbo_method: :post }, class: 'layui-btn-sm text-underline' %>
                  <%= link_to '下', move_admin_advert_path(advert, to: :lower), data: { turbo: true, turbo_method: :post }, class: 'layui-btn-sm text-underline' %>
                  <%= link_to '底部', move_admin_advert_path(advert, to: :to_bottom), data: { turbo: true, turbo_method: :post }, class: 'layui-btn-sm text-underline' %>
                </td>
                <td>
                  <%= link_to edit_admin_advert_path(advert), 'data-no-turbolink' => true, class: 'layui-btn layui-btn-xs layui-float-left' do %>
                    <i class="layui-icon layui-icon-edit"></i> 修改
                  <% end %>
                  <%= link_to admin_advert_path(advert), class: 'layui-btn layui-btn-xs layui-btn-danger layui-float-left layout-margin-left-4', data: { turbo: true, turbo_method: :delete, turbo_confirm: '确定要删除吗？' } do %>
                    <i class="layui-icon layui-icon-delete"></i> 删除
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@adverts) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @adverts %>
        </div>
      </div>
    </div>
  </div>
</div>