<div id="<%= dom_id community %>">
  <p>
    <strong>Name:</strong>
    <%= community.name %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= community.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= community.phone %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= community.verified_state %>
  </p>

</div>
