<%= simple_form_for [@community], wrapper: :admin_form do |f| %>
  <%= f.error_notification %>
  <div class="form-body">
    <%= f.input :name, label: '社区名称：', autofocus: true, placeholder: '请填写社区名称' %>
    <%= f.input :name, label: '社区地址：', autofocus: true, placeholder: '', hint: '请填写社区地址' %>
    <%= f.input :name, label: '联系电话：', autofocus: true, placeholder: '', hint: '请填写联系电话' %>
    <%= f.input :verified_state, as: :radio_buttons,  collection: Community.options_for_select(:verified_states), label: '验证状态：' %>
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <%= f.button :submit, '提交', class: 'btn green' %>
        <%= link_to '取消', communities_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>