<%= simple_form_for [@community], wrapper: :admin_form, html: { class: 'layui-form' } do |f| %>
  <%= f.error_notification %>
  <div class="form-body">
    <%= f.input :name, label: '社区名称', autofocus: true, placeholder: '请填写社区名称' %>
    <%= f.input :address, label: '社区地址', placeholder: '', placeholder: '请填写社区地址' %>
    <%= f.input :phone, label: '联系电话', placeholder: '', placeholder: '请填写联系电话' %>
    <% if @community %>
      <%= f.input :verified_state, collection: Community.options_for_select(:verified_states), label: '认证状态', include_blank: false %>
    <% end %>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <%= f.button :submit, '提交', class: 'layui-btn' %>
      <%= link_to '取消', communities_path, class: 'layui-btn layui-btn-primary' %>
    </div>
  </div>
<% end %>