<div class="layui-container">
  <div class="layui-row portlet-title">
    <fieldset class="layui-elem-field">
      <legend>社区管理</legend>
      <div class="layui-field-box">
        <div class="layui-row">
          <div class="layui-col-md11">
            <%= search_form_for @search, url: communities_path, class: 'form-inline layui-form' do |f| %>
              <div class="layui-form-item layui-inline">
                <%= f.label :name_cont, '社区名', class: "layui-form-label layui-inline" %>
                <%= f.text_field :name_cont, class: 'layui-input-inline layui-input', placeholder: '社区名' %>
              </div>
              <button type="submit" class="layui-form-item layui-btn layui-btn-primary layui-inline">搜索</button>
            <% end %>
          </div>
          <div class="layui-col-md1">
            <%= link_to new_community_path, class: 'layui-btn layui-btn-normal layui-btn-sm', 'data-no-turbolink' => true do %>
              <i class="layui-icon layui-icon-edit" style="font-size: 12px"></i>
              <span>创建</span>
            <% end %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="portlet-body">
    <div class="dataTables_wrapper no-footer">
      <div class="table-scrollable">
        <table class="layui-table" id="sample_2">
          <thead>
          <tr>
            <th>
              名称
            </th>
            <th>
              地址
            </th>
            <th>
              联系电话
            </th>
            <th>
              状态
            </th>
            <th>
              注册时间
            </th>
            <th>
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <% @communities.each do |community| %>
              <tr>
                <td>
                  <%= community.name %>
                </td>
                <td>
                  <%= community.address %>
                </td>
                <td>
                  <%= community.phone %>
                </td>
                <td>
                  <%= community.enum_name(:verified_state) %>
                </td>
                <td>
                  <%= l community.created_at %>
                </td>
                <td>
                  <%= link_to edit_community_path(community), class: 'layui-btn layui-btn-xs layui-float-left' do %>
                    <i class="fa fa-link"></i> 修改
                  <% end %>
                  <%= button_to community_path(community), class: 'layui-btn layui-btn-xs layui-btn-danger layui-float-left layout-margin-left-4', method: :delete, data: { turbo: "false", confirm: '确定要删除吗？'} do %>
                    <i class="fa fa-trash-o"></i> 删除
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="dataTables_info" id="sample_4_info"><%= paginate_info(@communities) %></div>
        </div>
        <div class="col-md-7 col-sm-12">
          <%= paginate @communities %>
        </div>
      </div>
    </div>
  </div>
</div>